@charset "UTF-8";
html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden; }

div.map-tour-container::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

div.map-tour-container {
  height: 500px;
  border: solid thin grey;
  width: 350px;
  margin: 25px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll; }
  div.map-tour-container div#loading {
    position: absolute;
    margin-top: 225px;
    width: 100%; }
  div.map-tour-container div#menu {
    display: none; }
    div.map-tour-container div#menu div#menu-footer {
      position: absolute;
      bottom: 5px;
      font-size: 0.5em;
      text-align: center;
      width: 100%; }
      div.map-tour-container div#menu div#menu-footer a {
        color: cornflowerblue; }
    div.map-tour-container div#menu img#main-map {
      margin-top: 25px; }
    div.map-tour-container div#menu div#locations-container {
      margin-top: 15px; }
      div.map-tour-container div#menu div#locations-container div.location-label {
        width: 45%;
        display: inline-block;
        border: solid thin grey;
        border-bottom: none;
        padding: 5px 0px;
        font-weight: bold;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: -5px; }
      div.map-tour-container div#menu div#locations-container div.location-label:nth-child(odd) {
        border-right: none; }
      div.map-tour-container div#menu div#locations-container div.location-label:nth-last-of-type(-n+2) {
        border-bottom: solid thin grey; }
      div.map-tour-container div#menu div#locations-container div.location-label:hover {
        color: lightgray; }
  div.map-tour-container div#location {
    display: none; }
    div.map-tour-container div#location span#close {
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer; }
    div.map-tour-container div#location span#close:hover {
      opacity: 0.5; }
    div.map-tour-container div#location img#single-state {
      width: 80%;
      margin-top: 15px; }
    div.map-tour-container div#location span {
      display: block; }
    div.map-tour-container div#location span#state-label {
      font-size: 1.25em;
      font-weight: bold;
      margin-top: 15px; }
    div.map-tour-container div#location span#location-description {
      text-align: left;
      margin: 15px; }
    div.map-tour-container div#location ul#location-bullets {
      text-align: left;
      font-weight: bold;
      margin-left: 20px;
      margin-bottom: 50px; }
      div.map-tour-container div#location ul#location-bullets li {
        margin: 15px; }
      div.map-tour-container div#location ul#location-bullets li::before {
        content: "■";
        color: darkred;
        display: inline-block;
        width: 1em;
        margin-left: -1em; }
    div.map-tour-container div#location div#page-changer {
      width: 100%;
      position: absolute;
      bottom: 0px;
      background: -moz-linear-gradient(top, rgba(0, 71, 153, 0) 0%, white 36%, white 100%);
      background: -webkit-linear-gradient(top, rgba(0, 71, 153, 0) 0%, white 36%, white 100%);
      background: linear-gradient(to bottom, rgba(0, 71, 153, 0) 0%, white 36%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00004799', endColorstr='#ffffff', GradientType=0);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      div.map-tour-container div#location div#page-changer div {
        display: inline-block;
        cursor: pointer;
        margin: 0px 25px;
        padding: 25px 0px 5px 0px; }
      div.map-tour-container div#location div#page-changer div:hover {
        opacity: 0.5; }

/*# sourceMappingURL=style.css.map */
